* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
:root {
    --bg-color: #080808;
    --second-bg-color: #101010;
    --text-color: white;
    --main-color: #ff0000;
}
html {
    font-size: 60%;
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}


/* Navbar */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2rem 5%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-bottom: 1px solid var(--main-color);
}
#menu-icon {
    font-size: 3.5rem;
    color: var(--text-color);
    display: none;
}
.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover {
    transform: scale(1.1);
}
.logo span {
    background: linear-gradient(
        270deg,
        rgb(255, 0, 0) 10%,
        rgb(255, 255, 0) 100%
    );
    background-clip: text;
    color: transparent;
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 2rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
    padding: 0.5rem 1rem;
}
.navbar a:hover {
    color: var(--text-color);
    background-color: var(--main-color);
    border-radius: 1rem;
    box-shadow: 0 0 20px var(--main-color),
                0 0 40px var(--main-color);
}
/* Navbar End */

/* Home */
section {
    min-height: 100vh;
    padding: 7rem 10%;
}
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.home-content h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
    background-color: var(--main-color);
    border-radius: 1rem;
    padding: 0.5rem;
}
.home-content h3 {
    margin: 1rem 0;
    padding: 0.5rem;
    font-size: 1.8rem;
    background-color: var(--main-color);
    border-radius: 1rem;
}
.home-table tr td {
    font-size: 1.5rem;
    padding: 0.2rem 0;
}
.home-img img {
    width: 25rem;
    border-radius: 3rem;
    box-shadow: 0 0 20px var(--main-color);
    transition: 0.4s ease-in-out;
}
.home-img img:hover {
    box-shadow: 0 0 20px var(--main-color),
                0 0 40px var(--main-color),
                0 0 60px var(--main-color);
}
.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 1rem 0.5rem;
    transition: 0.3S ease-in-out;
}
.social-icons a:hover {
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.2)translate(-5px);
    box-shadow: 0 0 25px var(--main-color);
}
/* Home End */

/* About */
.about {
    min-height: 100vh;
    padding: 7rem 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background: var(--second-bg-color);
}
.about-content {
    text-align: right;
}
.about-img img {
    width: 25rem;
    border-radius: 3rem;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}
.about-img img:hover {
    box-shadow: 0 0 20px var(--main-color),
                0 0 40px var(--main-color),
                0 0 60px var(--main-color);
}
.about-content h2 {
    font-size: 4rem;
    text-align: end;
}
.about span {
    background: linear-gradient(
        270deg,
        rgb(255, 0, 0) 10%,
        rgb(255, 255, 0) 100%
    );
    background-clip: text;
    color: transparent;
}
.about-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    padding: 1rem 0;
}

/* About End */

/* biodata */
.biodata {
    padding: 7rem 5%;
}
main {
    max-width: 1280px;
  }
  .biodata h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 3rem 0;
    text-align: center;
  }
  
  main ul {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
    list-style-type: none;
  }
  
  main ul li figure.card {
    background: var(--second-bg-color);
    backdrop-filter: blur(15px);
    border: solid 2px var(--main-color);
    border-radius: 12px;
    padding: 1rem;
  }
  main ul li figure.card:hover {
    box-shadow: 0 0 5px var(--main-color),
                0 0 10px var(--main-color),
                0 0 15px var(--main-color);
                transform: scale(1.03);
  }
  
  main ul li figure.card .card_header {
    display: flex;
    column-gap: 12px;
    align-items: center;
  }
  
  main ul li figure.card .card_header .card_image {
    width: 128px;
    height: 128px;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;  /*  bentuk gambar teman */
  }
  
  main ul li figure.card .card_header .card_image img {
    margin-top: -12px;
  }
  
  
  main ul li figure.card .card_content {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
  }

  main ul li figure.card .card_content table td {
    padding: 5px 5px;
    color: white;
    font-size: 1.5rem;
  }
  main ul li figure.card .card_content table td a {
    color: white;
  }
  main ul li figure.card .card_content .social-icons a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 1rem;
    color: var(--main-color);
    margin: 1rem 0.5rem;
    transition: 0.1S ease-in-out;
}
main ul li figure.card .card_content .social-icons a:hover {
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.05)translate(-5px);
    box-shadow: 0 0 25px var(--main-color);
}




/* contact */
.contact {
    background-color: var(--second-bg-color);
}
.contact h2 {
    font-size: 4rem;
    text-align: left;
    margin-bottom: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
.contact span {
    background: linear-gradient(
        270deg,
        rgb(255, 0, 0) 10%,
        rgb(255, 255, 0) 100%
        );
        background-clip: text;
        color: transparent;
        margin: 0 1rem;
    }
    .contact form {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        margin: 2rem 0;
        text-align: center;
    }
.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
}
.btn {
    display: inline-block;
    padding: 1rem 1rem;
    background-color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
    border-radius: 2rem;
    font-size: 1.8rem;
    color: black;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
.btn a {
    text-decoration: none;
    color: black;
}
.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--main-color),
    0 0 40px var(--main-color);
}
.social-icons-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.social-icons-2 a {
    width: 12rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 1rem;
    color: var(--main-color);
    margin: 1rem 0.5rem;
    transition: 0.3S ease-in-out;
}
.social-icons-2 a span {
    color: rgb(120, 120, 120);
    font-size: 1.5rem;
}
.social-icons-2 a:hover {
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.05)translate(-5px);
    box-shadow: 0 0 25px var(--main-color);
}
.social-icons-2 a span:hover {
    color: var(--text-color);
}
/* contact end */

footer {
    padding: 1rem;
    border-top: 1px solid var(--main-color);
}

.footer-img{
    display: flex;
    align-items: center;
    column-gap: 3rem;
    justify-content: center;
}

footer .footer-img img:first-child {
    width: 6rem;
}

footer .footer-img img:last-child {
    width: 5rem;
}

footer p {
    text-align: center;
    font-size: 1.5rem;
}



@media (max-width:726px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }
    .navbar.active {
        display: block;
    }
    .gradient.btn {
        display: none;
    }
    .home {
        flex-direction: column;
        margin: 5rem 0;
        padding: 7rem 5%;
        gap: 3rem;
    }
    .home-content {
        align-items: center;
        text-align: center;
    }
    .home-table {
        text-align: left;
    }
    .home-img img {
        width: 35vw;
    }
    .about {
        flex-direction: column-reverse;
        padding: 7rem 10%;
        gap: 3rem;
    }
    .about-content {
        text-align: center;
    }
    .about h2 {
        text-align: center;
        margin: 2rem 0;
    }
    .about img {
        width: 35vw;
    }
    
}


/* Responsive Design */
/* Tablet */
@media screen and (min-width: 726px) {
  
  /* Main */

  main ul {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  main ul li figure.card .card_header .card_description span:first-child {
    font-size: 20px;
  }
}


/* Laptop */
@media screen and (min-width: 1024px) {
  /* Main */
  main ul {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}